
*, 
::before, 
::after {
    box-sizing: border-box;
    margin: 0; 
    padding: 0
}

body {
    height: 100vh; 
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2em;
    background: black;
}

.tiles {
    display: grid; 
    height: 700px; 
    width: 700px;
    grid-template-columns: repeat(var(--gridSize), 1fr);
    grid-template-rows: repeat(var(--gridSize), 1fr);
    border: 1px solid black;
    background: white;
}

.tile {
    border: 1px solid black;
}

button {
    padding: 1em 1.5em;
    font-size: 1rem;
    background: darkmagenta;
    border: white;
    color: white; 
    border-radius: 5px; 
    box-shadow: 0 0 50px rgba(139, 0, 139, .8);
}